{% extends 'layout.html' %}
{% block title %} Login Activity List {% endblock %}
{% block content %}
<h2>Login Activity List</h2>

<div class="w3-container">
<p>Your account details are below:</p>
<table class="auditinfo">

    {% for audit in info %}
    {% if not start <= audit[0] <= end or audit[3] != 'Singapore' or audit[5] >= 3 %}
    <tr>
        {% if start <= audit[0] <= end %}
        <td class="info-left">login time:</td>
        <td class="info-highlight">{{ audit[0] }}</td>
        {% else %}
        <td style="color: red">login time:</td>
        <td style="color: red">{{ audit[0] }} Suspicious login</td>
        {% endif %}
    </tr>
    <tr>
        <td class="info-left">logout time:</td>
        <td class="info-highlight">{{ audit[1] }}</td>
    </tr>
    <tr>
        <td class="info-left">City:</td>
        <td class="info-highlight">{{ audit[2] }}</td>
    </tr>
    <tr>
        {% if audit[3] == 'Singapore' %}
        <td class="info-left">Country:</td>
        <td class="info-highlight">{{ audit[3] }}</td>
        {% else %}
        <td style="color: red">Country:</td>
        <td style="color: red">{{ audit[3] }} Not from Singapore. is this you?</td>
        {% endif %}
    </tr>
    <tr>
        <td class="info-left">Continent:</td>
        <td class="info-highlight">{{ audit[4] }}</td>
    </tr>
    <tr>
        {% if audit[5] >= 3 %}
        <td class="info-left bottom-border" style="color: red">Failed attempts:</td>
        <td class="info-highlight bottom-border" style="color: red">{{ audit[5] }}</td>
        {% else %}
        <td class="info-left bottom-border">Failed attempts:</td>
        <td class="info-highlight bottom-border">{{ audit[5] }}</td>
        {% endif %}
    </tr>
    {% endif %}
    {% endfor %}
</table>

</div>
<img src="/static/graph.png" style="width:90%">
{% endblock %}
